{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listy list</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todoitem.name }}</h1>
            <p><a href="{% url 'todo_list_update' todoitem.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' todoitem.id %}">Delete</a></p>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in todoitem.items.all %}
                        <tr>
                            <td>
                                <a href="{% url 'todo_item_update' id=task.id %}">{{ task.task }}</a>
                            </td>
                            <td>{{ task.due_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
